.body{
    width: 99%;
    height:80vh;
    border-radius: 15px;
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    align-items: start;
    overflow: hidden;
}
.folder{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.folder:hover{
    cursor: pointer;
    scale: 1.001;
}